<!DOCTYPE html>
<html xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <script src="../static/js/validate.js"></script>
    <title>Bookstore Customer Portal</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <script src="../static/js/placeOrder.js"></script>
</head>

<body>

<script>
    var data = validate("../api/cart");
    var shoppingCart = data;
    var user = data.user;
    var cartItems = data.cartItems;
</script>
<header>
    <div class="content-wrapper">
        <h1>Bookstore</h1>
        <nav>
            <a href="index">Home</a>
            <a href="product">Products</a>
            <a href="register">Register</a>
        </nav>
        <div class="link-icons">
            <a href="vip"><p id="username"></p>
                <a href="index">
                    <i class="fas fa-shopping-cart"></i> <span>0</span>
                </a>
            </a>
        </div>
    </div>
    <script>
        document.getElementById("username").innerHTML = user.username;
    </script>
</header>
<main>
    <div class="cart content-wrapper">
        <h1>Shopping Cart</h1>
        <div>
            <table>
                <thead>
                <tr>
                    <td colspan="2">Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
                </tr>
                </thead>
                <tbody id="cartItems">
                </tbody>
            </table>
            <div id="subtotal" class="subtotal">
                <span class="text">Discount</span>
                <span class="price">&dollar;0</span>
                <span class="text">Subtotal</span>
                <span class="price" id="subprice">&dollar;233</span>
            </div>
            <div class="buttons">
                <input name="placeorder" type="submit" value="Place Order onclick="placeOrder">
                <script>
                    function placeOrder(){
                    validate("../api/placeorder");
                }
                </script>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="content-wrapper">
        <p>&copy; 2020, Bookstore Ltd.</p>
    </div>
</footer>
<script>
    var tbody=document.getElementById("cartItems");
    cartItems.forEach(function (cartItem){
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        td.className = "img";
        var a = document.createElement("a");
        a.href = "/productdetail"+cartItem.book.id;
        var img = document.createElement("img");
        img.src="/imgs/"+cartItem.getBook().getId()+".jpg";
        img.width="50";
        img.height="50";
        a.appendChild(img);
        td.appendChild(a);
        tr.appendChild(td);

        var td = document.createElement("td");
        var a = document.createElement("a");
        a.href = "/productdetail"+cartItem.book.id;
        a.innerHTML = cartItem.book.getTitle();
        var input = document.createElement("input");
        input.type="submit";
        input.value="Delete from Cart";
        input.id=cartItem.book.id;
        input.onclick="DeleteCart";
        a.appendChild(input);
        td.appendChild(a);
        tr.appendChild(td);

        var td = document.createElement("td");
        td.className="price";
        td.innerHTML = cartItem.book.getListPrice()+"dollar";
        tr.appendChild(td);

        var td = document.createElement("td");
        td.className="quantity";
        var input = document.createElement("input");
        input.type="number";
        input.name="quantity-F0019";
        input.value="1";
        input.placeholder="Quantity";
        td.appendChild(input);
        tr.appendChild(td);

        tbody.appendChild(tr);
    })

    var subprice = document.getElementById("subprice");
    subprice.innerHTML = shoppingCart.grandTotal;
</script>

</body>

</html>