<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="content-wrapper">
        <h1>Foodie</h1>
        <nav>
            <a href="index">Home</a>
            <a href="product">Products</a>
            <a href="logout">Logout</a>
        </nav>
        <div class="link-icons">
            <a href="vip"><p th:text="${name}"></a>
            <a href="cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</header>
<main>

    <div class="products content-wrapper">
        <h1>Products</h1>
        <p>3 Products</p>
        <div class="products-wrapper">
            <a href="index.php?page=product&id=<?=$product['pid']?>" class="product">
                <img src="imgs/<?=$product['pname']?>.jpeg" width="200" height="200" alt="<?=$product['pname']?>">
                <span class="name">testname</span>
                <span class="price">
                &dollar;233 </span>
            </a>
        </div>
        <div class="buttons">
            <a href="index.php?page=products&p=<?=$current_page-1?>">Prev</a>
            <a href="index.php?page=products&p=<?=$current_page+1?>">Next</a>
        </div>
    </div>
</main>
<footer>
    <div class="content-wrapper">
        <p>&copy; 2020, Foodie Ltd.</p>
    </div>
</footer>
</body>
</html>
