<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <script src="../static/js/init.js"></script>
</head>
<body>
<script>
    var data = init("../api/allproducts");
    var username = data.username;
    var books = data.books;
</script>
<header>
    <div class="content-wrapper">
        <h1>Bookstore</h1>
        <nav>
            <a href="index">Home</a>
            <a href="product">Products</a>
            <a href="logout">Logout</a>
        </nav>
        <div class="link-icons">
            <a href="vip"><p id="username"></p>
                <a href="cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
        </div>
    </div>

    <script>
        if (username) document.getElementById("username").innerHTML = username;
    </script>
</header>
<main>

    <div class="products content-wrapper">
        <h1>Products</h1>
        <div class="products-wrapper" id="products-wrapper">
        </div>
    </div>
</main>

<script>
    var div = document.getElementById("products-wrapper");
    books.forEach(function (book) {
        var a = document.createElement("a");
        a.className = 'product';
        a.href = " /productdetail" + book.id;
        var img = document.createElement("img");
        img.height = "200";
        img.src = "/imgs/" + book.id + ".jpg";
        img.width = "200";
        var span1 = document.createElement("span");
        span1.className = "name";
        span1.innerHTML = book.title;
        var span2 = document.createElement("span");
        span2.classname = "price";
        span2.innerHTML = book.listPrice;
        a.appendChild(img);
        a.appendChild(span1);
        a.appendChild(span2);
        div.appendChild(a);
    })
</script>
<footer>
    <div class="content-wrapper">
        <p>&copy; 2020, Bookstore Ltd.</p>
    </div>
</footer>
</body>
</html>
