<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="content-wrapper">
        <h1>Foodie</h1>
        <nav>
            <a href="index">Home</a>
            <a href="product">Products</a>
            <a href="logout">Logout</a>
        </nav>
        <div class="link-icons">
            <a href="vip"><p th:text="${name}"></a>
            <a href="cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</header>
<main>

    <div class="products content-wrapper">
        <h1>Products</h1>
        <div class="products-wrapper">
            <a th:each="book : ${books}">
                <a class="product" th:href="@{/productdetail(id=${book.id})}">
                    <img alt="" height="200" th:src="@{/imgs/{num}.jpg(num=${book.id})}" width="200">
                    <span class="name" th:text="${book.title}">123</span>
                    <span class="price" th:text="${book.listPrice}">
            </span>
                </a></a>
        </div>
    </div>
</main>
<footer>
    <div class="content-wrapper">
        <p>&copy; 2020, Foodie Ltd.</p>
    </div>
</footer>
</body>
</html>
