<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bookstore Customer Portal</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="content-wrapper">
        <h1>Bookstore</h1>
        <nav>
            <a href="index">Home</a>
            <a href="product">Products</a>
            <a href="register">Register</a>
        </nav>
        <div class="link-icons">
            <a href="cart">
                <i class="fas fa-shopping-cart"></i> <span>0</span>
            </a>
        </div>
    </div>
</header>
<link rel="stylesheet" href="/styles/style-reg.css" type="text/css">
<div class="register">
    <h1>Register</h1>
    <form autocomplete="off" method="post" action="/registercheck">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input id="cid" name="cid" placeholder="Client ID" required type="text">
        <label for="cid">
            <i class="fas fa-user"></i>
        </label>
        <input id="username" name="username" placeholder="Username" required type="text">
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input id="password" name="password" placeholder="Password" required type="password">
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input id="email" name="email" placeholder="Email" required type="email">
        <label for="phone">
            <i class="fas fa-phone"></i>
        </label>
        <input id="phone" name="phone" placeholder="Phone" required type="tel">
        <input type="submit" value="Register">
    </form>
</div>
<footer>
    <div class="content-wrapper">
        <p>&copy; 2020, Bookstore Ltd.</p>
    </div>
</footer>
</body>
</html>
