<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Foodie Customer Portal</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/Data.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/Common.css}" />
    <link rel="stylesheet" th:href="@{/styles/Data.css}">

</head>

<body>
    <header>
        <div class="content-wrapper">
            <h1>Foodie</h1>
            <nav>
                <a href="index">Home</a>
                <a href="product">Products</a>
                <a href="logout">Logout</a>
            </nav>
            <div class="link-icons">
                <a href="cart">
                    <i class="fas fa-shopping-cart"></i> <span>0</span>
                </a>
            </div>
        </div>
    </header>
    <div class="Content">
        <div class="Left" id="Left">
            <ul>
                <li class="Select">
                    <a href="#">账户信息</a>
                </li>
                <li>
                    <a href="#">我的订单</a>
                </li>
                <li>
                    <a href="#">修改信息</a>
                </li>
            </ul>
        </div>
        <div class="Right" id="Right">
            <div class="Details Detail-4" style="display:block;">
                <p class="AboutUS">账户信息</p>
                <ul>
                    <li>
                        <span class="Detail-4-Left">顾客ID</span>
                        <td th:text="${user.username}">xxx</td>
                    </li>
                    <li>
                        <span class="Detail-4-Left">顾客名称</span>
                        <td th:text="${user.id}">xxx</td>
                    </li>
                    <li>
                        <span class="Detail-4-Left">电话</span>
                        <td th:text="${user.phone}">xxx</td>
                    </li>
                    <li>
                        <span class="Detail-4-Left">邮箱</span>
                        <td th:text="${user.email}">xxx</td>
                    </li>
                    <li>
                        <span class="Detail-4-Left">密码</span>
                        <td th:text="${user.password}">xxx</td>
                    </li>
                </ul>
            </div>
            <div class="Details Detail-1" style="display:none;">
                <p class="AboutUS">我的订单</p>
                <ul>
                    <li>
                        <table id="TopTR">
                            <tr>
                                <td>
                                    商品信息
                                </td>
                                <td>单价</td>
                                <td>数量</td>
                                <td>商品操作</td>
                                <td>实付款</td>
                                <td>交易状态</td>
                                <td>付款方式</td>
                            </tr>
                            <tr th:each="cartItem : ${order.getCartItemList()}">
                                <td th:href="@{/productdetail(id=${cartItem.book.id})}" th:text="${cartItem.book.title}">
                                    商品信息
                                    <img th:src="@{/imgs/{num}.jpg(num=${cartItem.book.id})}" width="200" height="200" alt="">
                                </td>
                                <td th:text="${cartItem.book.listPrice}">单价</td>
                                <td th:text="${cartItem.qty}">数量</td>
                                <td>商品操作</td>
                                <td th:text="${cartItem.subtotal}">实付款</td>
                                <td th:text="${order.orderStatus}">交易状态</td>
                                <td th:text="${order.shippingMethod}">付款方式</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <a class="Delect2">
                            <table id="TR_2">
                                <tr>
                                    <td><img src="../img/imgcon1.jpg" /></td>
                                    <td>
                                        <p style="text-decoration: line-through;color:gray;">￥999.00</p>
                                        <p>￥799.00</p>
                                    </td>
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>
                                        <p>申请售后</p>
                                    </td>
                                    <td>
                                        <p>￥799.00</p>
                                        <p style="color:gray;">（含运费：￥0.00）</p>
                                    </td>

                                    <td>
                                        <p>交易成功</p>
                                        <p>订单详情</p>
                                    </td>
                                    <td>
                                        <p>xxx</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <a class="Delect">
                            <span><input type="checkbox" value=""/></span>
                            <span>2018-01-15</span>
                            <span>订单号：xxx</span>
                            <span>券折扣：xxx</span>
                            <span>节日折扣：xxx</span>
                            <span>使用福豆：xxx</span>
                            <span>会员折扣:xxx</span>
                            <span>实付款:xxx</span>
                            <img src="../img/垃圾箱.svg" style="width:30px;height:30px;position:absolute;right:15px;top:10px;" />

                        </a>
                    </li>
                    <li>
                        <a class="Delect2">
                            <table id="TR_2">
                                <tr>
                                    <td><img src="../img/imgcon1.jpg" /></td>
                                    <td>
                                        <p style="text-decoration: line-through;color:gray;">￥999.00</p>
                                        <p>￥799.00</p>
                                    </td>
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>
                                        <p>申请售后</p>
                                    </td>
                                    <td>
                                        <p>￥799.00</p>
                                        <p style="color:gray;">（含运费：￥0.00）</p>
                                    </td>

                                    <td>
                                        <p>交易成功</p>
                                        <p>订单详情</p>
                                    </td>
                                    <td>
                                        <p>xxx</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        </a>
                        <a class="Delect">
                            <span><input type="checkbox" value=""/></span>
                            <span>2018-01-15</span>
                            <span>订单号：xxx</span>
                            <span>券折扣：xxx</span>
                            <span>节日折扣：xxx</span>
                            <span>使用福豆：xxx</span>
                            <span>会员折扣:xxx</span>
                            <span>实付款:xxx</span>
                            <img src="../img/垃圾箱.svg" style="width:30px;height:30px;position:absolute;right:15px;top:10px;" />

                        </a>
                    </li>
                    <li>
                        <a class="Delect2">
                            <table id="TR_2">
                                <tr>
                                    <td><img src="../img/imgcon1.jpg" /></td>
                                    <td>
                                        <p style="text-decoration: line-through;color:gray;">￥999.00</p>
                                        <p>￥799.00</p>
                                    </td>
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>
                                        <p>申请售后</p>
                                    </td>
                                    <td>
                                        <p>￥799.00</p>
                                        <p style="color:gray;">（含运费：￥0.00）</p>
                                    </td>

                                    <td>
                                        <p>交易成功</p>
                                        <p>订单详情</p>
                                    </td>
                                    <td>
                                        <p>xxx</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <a class="Delect">
                            <span><input type="checkbox" value=""/></span>
                            <span>2018-01-15</span>
                            <span>订单号：xxx</span>
                            <span>券折扣：xxx</span>
                            <span>节日折扣：xxx</span>
                            <span>使用福豆：xxx</span>
                            <span>会员折扣:xxx</span>
                            <span>实付款:xxx</span>
                            <img src="../img/垃圾箱.svg" style="width:30px;height:30px;position:absolute;right:15px;top:10px;" />

                        </a>
                    </li>

                </ul>
            </div>
            <div class="Details Detail-6" style="display:none;">
                <p class="AboutUS">修改信息</p>
                <ul>
                    <li>
                        <span class="Detail-4-Left">顾客名称</span>
                        <td><input type="text" th:placeholder="${user.username}" /></td>
                    </li>
                    <li style="background-color: white;">
                        <input class=" BaoCun" type="button" value="保存" />
                    </li>
                    <li>
                        <span class="Detail-4-Left"><b>*</b>性别</span>
                        <input style="height:18px;width:18px;" type="radio" value="男" />男
                        <input style="height:18px;width:18px;" type="radio" value="女" />女
                        <input style="height:18px;width:18px;" type="radio" value="保密" />保密
                    </li>
                    <li style="background-color: white;">
                        <input class=" BaoCun" type="button" value="保存" />
                    </li>
                    <li>
                        <span class="Detail-4-Left">生日</span>
                        <input class="year" type="text" />年
                        <input class="year" />月
                        <input class="year" />日
                    </li>
                    <li style="background-color: white;">
                        <input class=" BaoCun" type="button" value="保存" />
                    </li>
                    <li>
                        <span class="Detail-4-Left" th:placeholder="${user.phone}">电话</span>
                        <input type="text" />
                    </li>
                    <li style="background-color: white;">
                        <input class=" BaoCun" type="button" value="保存" />
                    </li>
                    <li>
                        <span class="Detail-4-Left" th:placeholder="${user.email}">邮箱</span>
                        <input type="text" />
                    </li>
                    <li style="background-color: white;">
                        <input class=" BaoCun" type="button" value="保存" />
                    </li>
                    <li>
                        <span class="Detail-4-Left" th:placeholder="${user.password}">密码</span>
                        <input type="text" />
                    </li>
                    <li style="background-color: white;">
                        <input class=" BaoCun" type="button" value="保存" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>